* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: lightgreen;
  }
  
  nav {
    margin: 5px 10px;
    background-color: #1e2d3b;
    padding: 10px 0px;
    border-radius: 10px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    padding-left: 50px;
  }
  
  nav .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
    padding-left: 5px;
  }
  
  .logo h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: white;
  }

  .search-bar {
    display: flex;
    align-items: center;
    padding-left: 60%;
  }
  
  .search-bar input[type="text"] {
    padding: 5px;
    /* border-radius: 10px; */
  }
  
  .search-bar button {
    padding: 5px 10px;
    /* border-radius: 10px; */
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  footer {
    background-color: #1e2d3b;
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: 5px;
  }
  
  footer .contact-info,
  footer .location-info,
  footer .developer-info {
    margin-bottom: 10px;
  }
  
  #products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 5px;
    border: 2px solid rgb(8, 0, 0);
    background-color: beige;
  }
  
  .product {
    border: 1px solid #fd0101;
    padding: 10px;
    background-color: rgba(7, 0, 0, 0.589);
  }
  
  .product h3 {
    margin-top: 0;
    color: white;
  }
  
  .product p {
    margin: 5px 0;
    color: white;
  }
  
  .product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    color: white;
  }



  
  

  